{%extends "appbuilder/base.html"%}
{%block content%}
<h1>{{gtype.name}}</h1>
<h2>该类别下共{{gtype.gcount}}位宾客</h2>
<div><a href="/guest/all/">查看完整宾客列表</a></div>
<div><a href="/guest/pickup/">查看完整接送列表</a></div>
<ul class = "list-group">
    {%for g in gtype.guests %}
    <li class="list-group-item">
        <a href="/guest/detail/{{g.id}}/">
            <h4>{{g.fullname}}</h4>
        </a>
        <a href="/guest/edit/{{g.id}}">
            ✏️
        </a>
        {%if g.plus%}携带<strong>{{g.plus}}</strong>位宾客{%endif%}
        {%if g.babies%}<a href="/guest/babies/" title="宝宝清单">,携带{{g.babies}}位👶</a>{%endif%}

        <br>
        {%if g.invitation%}已发请帖{%else%}<span style="color:red">还未发送请帖</span>{%endif%}
        {%if g.ishotel%}安排🏨{%endif%}
        {%if g.ispickup%}安排🚙{%endif%}

    </li>
    {%endfor%}
</ul>
{%endblock%}