{%extends "appbuilder/base.html"%}
{%block head_js%}
{{super()}}
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=LEGMyVpA77CxWxcaXGOyb5DeRuLopsSN">
</script>
{%endblock%}
{%block content%}
<div class="jumbotron">
  <h1>张晓晨❤️靳明晔</h1>
    <h3>的美丽婚礼</h3>
  <p>2019年9月14日 农历 己亥年 八月 十六</p>
  <p>
      <a class="btn btn-primary btn-lg" href="/guest/all/" role="button">宾客名单</a>
      <a class="btn btn-primary btn-lg" href="/gtype/all/" role="button">宾客类别</a>
  </p>

</div>

<div class="panel panel-default">
    <div class="panel-body">
    <div  id="container" style="height:300px" class="col-md-12 col-xs-12"></div>
    </div>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <div>
        <table>
        <tr>
            <td style="color:#BBB">
                主办单位: </td><td> 张晓晨</td>
        </tr>
        <tr>
            <td style="color:#BBB">ICP主体备案号: </td><td>沪ICP备19022316号</td>
        </tr>
        </table>
    </div>
  </div>
</div>
{%endblock%}

{%block tail_js%}
{{super()}}
<script>
var map = new BMap.Map("container");
var point = new BMap.Point(121.509, 31.207);
map.centerAndZoom(point, 15);

var local = new BMap.LocalSearch(map, {
    renderOptions:{map: map}
});
local.search("花嫁丽舍世博江景店");
</script>
{%endblock%}