{%extends "appbuilder/base.html"%}
{%block head_js%}
{{super()}}
<meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
<script type="text/javascript" src="http://api.map.baidu.com/api?v=3.0&ak=LEGMyVpA77CxWxcaXGOyb5DeRuLopsSN">
</script>
{%endblock%}
{%block content%}
<style>
    .huge
    {
        font-size:50px;
    }
    #index_head
    {
        color:#FFF;
        background-image: url("/static/images/index_head.jpg");
        background-size: cover;
        background-position: center;
        background-repeat:no-repeat;
        background-color:#4FAEF4;
        text-shadow: 2px 2px 3px rgb(100,100,100);
        text-align: center;
        font-weight:100;
    }
    .indexbtn
    {
        background-color:rgba(0,0,0,0.3);
        border-width:0px;
    }
</style>
<div class="jumbotron" id="index_head">
  <h1>张晓晨❤靳明晔</h1>

    <p>2019年9月14日 </p>
    <p>农历 己亥年 八月 十六</p>

    <p id="countdown"></p>
  <p>
      <a class="btn btn-primary btn-lg indexbtn" href="/quotes/" role="button">新郎新娘 和那些感动</a>
      <hr>
      <a class="btn btn-primary btn-lg indexbtn" href="/guest/all/" role="button">宾客名单</a>
      <a class="btn btn-primary btn-lg indexbtn" href="/gtype/all/" role="button">宾客类别</a>
  </p>

</div>

<div class="panel panel-default">
    <div class="panel-body">
    <div  id="container" style="height:300px" class="col-md-12 col-xs-12"></div>
    </div>
</div>
<hr>
<div class="panel panel-default">
  <div class="panel-body">
    <div>
        <table>
        <tr>
            <td style="color:#BBB">
                主办单位: </td><td> 张晓晨</td>
        </tr>
        <tr>
            <td style="color:#BBB">ICP主体备案号: </td><td>沪ICP备19022316号</td>
        </tr>
        </table>
    </div>
  </div>
</div>
{%endblock%}

{%block tail_js%}
{{super()}}
<script>
var map = new BMap.Map("container");
var point = new BMap.Point(121.509, 31.207);
map.centerAndZoom(point, 15);

var local = new BMap.LocalSearch(map, {
    renderOptions:{map: map}
});
local.search("花嫁丽舍世博江景店");
</script>
<script src="/static/js/countdown.js"></script>
{%endblock%}